.container2 {
	width: 79%;
    margin: 93px;
    /* padding: 20px; */
    display: grid;
  }

.form__title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	color: black;
  }
  
  ol {
	list-style-type: none;
	padding: 0;
  }
  
  li {
	background-color: #f5f5f5;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 15px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	color: black;
  }
  
  li p {
	margin: 0;
	font-size: 16px;
	line-height: 1.5;
  }
  
  @media (max-width: 600px) {
	.container2 {
	  padding: 10px;
	}
  
	.form__title {
	  font-size: 20px;
	  margin-bottom: 10px;
	}
  
	li {
	  padding: 10px;
	  margin-bottom: 10px;
	}
  
	li p {
	  font-size: 14px;
	}
  }
  
  /* Animation */
  @keyframes fade-in {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
  
  .fade-in {
	animation: fade-in 1s ease-in-out;
  }
  